# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Recompiled class files
*.class

# Ignore build directories
/target/

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore IntelliJ IDEA project files
.idea/